/* ＝＝＝＝＝＝＝　送信ボタン　＝＝＝＝＝＝＝ */
form div {
  text-align: center;
}

form div input[type=submit] {
  background-color: #f2f1ed;
  border: 1.5px solid black;
  border-radius: 50px;
  padding: 2rem 3rem;
}

form div input[type=submit]:hover {
  border-color: none;
  background-color: black;
  color: white;
}

/* ＝＝＝＝＝＝＝　全体の装飾　＝＝＝＝＝＝＝ */
body {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding: 10px 0;
}

hr {
  margin-bottom: 30px;
  border: 1.5px solid #80aba9;
  margin: 0;
}

h2 {
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 0px;
  font-size: 28px;
  text-align: center;
  letter-spacing: 5px;
}

.basic-wrapper, .family-wrapper,
.beauty-wrapper, .seikaku-wrapper,
.seikaku-wrapper1, .syumi-wrapper,
.gakusei-wrapper, .taiou-wrapper,
.nouryoku-wrapper, .sonota-wrapper 
 {
  display: flex;
  justify-content: center;
  padding: 50px;
  column-gap: 3rem;
}

span {
  font-size: 19px;
}

.column {
  display: flex;
  justify-content: space-between;
  /* 要素間の隙間の設定 */
  column-gap: 1rem;
}

dd {
  text-align: left;
  margin-left: 0;
  margin-bottom: 5px;
}

input[placeholder], textarea {
  font-family: "Zen Maru Gothic", serif;
  border-radius: 5px;
}

select {
  border-radius: 5px;
}

input {
  margin-top: 1.5px;
}

/* ＝＝＝＝＝＝＝　基本事項のスタイル　＝＝＝＝＝＝＝ */
.basic-style {
  text-shadow: 3px 3px 3px #80aba9;
  border-color: #80aba9;
}

.basic-wrapper {
  background-color: #d4dddd;
}

.basic-item input, .basic-item textarea {
  border: 1.5px solid #80aba9;
}

/* ＝＝＝＝＝＝＝　見た目のスタイル　＝＝＝＝＝＝＝ */
.beauty-style {
  text-shadow: 3px 3px 3px #a59aca;
  border-color: #a59aca;
}

.beauty-wrapper {
  background-color: #d5d2de;
}

.beauty-item input, .beauty-item textarea {
  border: 1.5px solid #aba1cd;
}

input[type=radio]:checked+label {
  border-radius: 40px;
  border: 1.6px solid rgb(215, 44, 44);
  color: black;
  padding: 0 10px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked+label {
  border-radius: 40px;
  border: 1.6px solid rgb(215, 44, 44);
  color: black;
  padding: 0 10px;
}

/* ＝＝＝＝＝＝＝　家族構成のスタイル　＝＝＝＝＝＝＝ */
.family-style {
  text-shadow: 3px 3px 3px #db858b;
  border-color: #e79499;
}

.family-wrapper {
  background-color: #f7edee;
}

.family-item input, .family-item textarea {
  border-color: #f7edee;
  border: 1.5px solid #e79499;
}

/* ＝＝＝＝＝＝＝　選択ボタンの表示　＝＝＝＝＝＝＝ */
.column dd input[type=radio] {
  display: none;
}

.column dd label {
  cursor: pointer;
  padding: 0.2rem;
  color: #333;

}

.column dd input[type=radio]:checked+label {
  border-radius: 40px;
  border: 1.6px solid rgb(215, 44, 44);
  color: black;
  padding: 0 3px;

}

/* ＝＝＝＝＝＝＝　or-twoのスタイル　＝＝＝＝＝＝＝ */
.or-two {
  display: flex;
  height: 33px;
  padding-bottom: 10px;
}

.or-two p {
  padding: 0 20px;
  margin-top: 0;
  font-size: 18px;
}

.or-two label {
  font-size: 20px;
  padding: 0 13px 0 13px;
}

.or-two input[type=radio] {
  display: none;
}

.or-two label {
  cursor: pointer;
  color: #333;

}

.or-two input[type=radio]:checked+label {
  border-radius: 40px;
  border: 1.6px solid rgb(215, 44, 44);
  color: black;
  padding: 0 10px;
}

.or-two input[type=checkbox] {
  display: none;
}

.or-two input[type=checkbox]:checked+label {
  border-radius: 40px;
  border: 1.6px solid rgb(215, 44, 44);
  color: black;
  padding: 0 10px;
}

/* ＝＝＝＝＝＝＝　性格のスタイル　＝＝＝＝＝＝＝ */
.seikaku-style {
  text-shadow: 3px 3px 3px burlywood;
  border-color: burlywood;
}

.seikaku-wrapper, .seikaku-wrapper1 {
  background-color: rgb(240, 227, 210);
}

.seikaku-item input, .seikaku-item textarea {
  border: 1.5px solid burlywood;
}

.seikaku-wrapper1 {
  height: 280px;
}

.aaa dd {
  text-align: center;
}

.aaa dd textarea {
  border: 1.5px solid burlywood;
}

.seikaku-wrapper1 {
  padding-top: 0;
}

.seikaku-item1 span {
  font-size: 25px;
}

.seikaku-item div dd {
  text-align: center;
}

/* ＝＝＝＝＝＝＝　趣味・特技・社会的のスタイル　＝＝＝＝＝＝＝ */
.syumi-style {
  text-shadow: 3px 3px 3px #c485db;
  border-color: #c485db;
}

.syumi-wrapper {
  background-color: #e7d9ed;
}

.syumi-item input, .syumi-item textarea {
  border-color: #c485db;
  border: 1.5px solid #c485db;
}

/* ＝＝＝＝＝＝＝　学生・戦闘のスタイル　＝＝＝＝＝＝＝ */
.gakusei-style {
  text-shadow: 3px 3px 3px #85dbc1;
  border-color: #85dbc1;
}

.gakusei-wrapper {
  background-color: #cfe5de;
}

.gakusei-item input, .gakusei-item textarea {
  border-color: #85dbc1;
  border: 1.5px solid #85dbc1;
}

.ccc {
  justify-content: center;
}

.ccc dt {
  padding-right: 20px;
}

.ddd dt {
  padding-right: 5px;
}

/* ＝＝＝＝＝＝＝　対応・反応のスタイル　＝＝＝＝＝＝＝ */
.taiou-style {
  text-shadow: 3px 3px 3px #dbcd85;
  border-color: #dbcd85;
}

.taiou-wrapper {
  background-color: #f3edcf;
}

.taiou-item input, .taiou-item textarea {
  border-color: #dbcd85;
  border: 1.5px solid #dbcd85;
}

.or-two1 {
  display: flex;

  padding-bottom: 10px;
}

.or-two1 input[type=radio] {
  display: none;
}

.or-two1 label {
  cursor: pointer;
  color: #333;

}

.or-two1 input[type=radio]:checked+label {
  border-radius: 40px;
  border: 1.6px solid rgb(215, 44, 44);
  color: black;
  padding: 0 10px;
}

.or-two1 input[type=checkbox] {
  display: none;
}

.or-two1 input[type=checkbox]:checked+label {
  border-radius: 40px;
  border: 1.6px solid rgb(215, 44, 44);
  color: black;
  padding: 0 10px;
}

.taiou-wrapper {
  padding-bottom: 0;
}

/* 生い立ち・性格・備考のスタイル */
.sonota-item dd {
  text-align: center;
  margin-bottom: 0;
}



.sonota-item span {
  font-size: 25px;
}

.sonota-wrapper {
  background-color: #d7ddf0;
}

.sonota-style {
  text-shadow: 3px 3px 3px #b7c3ef;
  border-color: #b7c3ef;
}

.sonota-item input, .sonota-item textarea {
  border-color: #b7c3ef;
  border: 1.5px solid #b7c3ef;
}


/* ＝＝＝＝＝＝＝　評価概要スタイル　＝＝＝＝＝＝＝ */
.bbb {
  display: block;
  padding: 10px;
  border: 1.5px solid #85dbc1;
  border-radius: 20px;
}

.bbb dt {
  padding-bottom: 10px;
  font-style: italic;
}

.nouryoku-style {
  text-shadow: 3px 3px 3px #85dbc1;
  
}



.nouryoku-item input, .nouryoku-item textarea, .nouryoku-item select {
  border-color: #85dbc1;
  border: 1.5px solid #85dbc1;
}

.nouryoku-wrapper {
  padding-top: 20px;
}

.no-hr {
  border-style: none;
}

/* 備考スタイル */
.bikou-style {
  text-shadow: 3px 3px 3px #dbcd85;
  border-color: #dbcd85;
}



.bikou-item input, .bikou-item textarea {
  border-color: #dbcd85;
  border: 1.5px solid #dbcd85;
}

.bikou-item dt {
  padding: 30px 0 10px 0;
}

.bikou-item dt {
  text-align: left;
  padding-left: 190px;
}

.bikou-item dd  {
  text-align: center;
}

.bikou-wrapper {
  background-color: #f3edcf;
}

textarea {
  white-space: pre-wrap;
}


/* ＝＝＝＝＝＝＝　メディアクエリ　＝＝＝＝＝＝＝ */
/* @media screen and (max-width: 1024px) { 
  .basic-wrapper, .family-wrapper,
  .beauty-wrapper, .seikaku-wrapper 
  {
    display: block;
  }

  .column {
    display: block;
    justify-content: center;
    /* 要素間の隙間の設定 */
    /* column-gap: 1rem; 
  }

  dd {
    text-align: center;
  }

  .or-two {
    justify-content: center;
  }
}
*/


